<% if flash[:errors] %>
<% flash[:errors].each do |message| %>
<%= message %>
<% end %>
<% end %>


<h1> VendorSweet Form </h1>

<%= form_for @vendor_sweet do |f| %>

<%= f.label :vendor_id %>
<%= f.collection_select :vendor_id, @vendors, :id, :name %>

<%= f.label :sweet_id %>
<%= f.collection_select :sweet_id, @sweets, :id, :name %>

<%= f.label :price %>
<%= f.number_field :price %>

<%= f.submit %>
<% end  %>

<%= link_to "Back To Vendor Home Page", vendors_path %>